<div class="XYZ">
  <div class="pqr">
    <i class="fa fa-github" style="font-size: 40px"></i>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="aaa">
    <input
      type="text"
      placeholder=" Search or jump to..."
      style="background: transparent; border-radius: 6px"
    /><button class="button">../..</button>&nbsp;&nbsp;
  </div>

  <div class="navbar">
    <div>
      <ul class="ul1">
        <li><a>Pull requests </a></li>
        &nbsp;
        <li><a>Issues</a></li>
        &nbsp;
        <li><a>Codespaces</a></li>
        &nbsp;
        <li><a>MarketPlace</a></li>
        &nbsp;
        <li><a>Explore</a></li>
        &nbsp;
      </ul>
    </div>
    <div class="icon">
      <i class="fa-regular fa-bell"></i>&nbsp;&nbsp;&nbsp;
      <i class="fa-thin fa-plus"></i>
      <select
        style="
          width: 20px;
          cursor: 20px pointer;
          outline: none;
          background: none;
          color: gray;
          border: none;
        "
      >
        <option>New repository</option>
        <option>Imort repository</option>
        <option>New codespage</option>
        <option>New gits</option>
        <option>New organization</option>
        <option>New project</option>
      </select>

      <i class="fa fa-circle-user"></i>
      <select
        style="
          width: 20px;
          cursor: 20px pointer;
          outline: none;
          background: none;
          color: gray;
          border: none;
        "
      >
        <option>Your profile</option>
        <option>Your repository</option>
        <option>Your project</option>
        <option>Your star</option>
        <option>Your gits</option>
        <hr />
        <option>Upgrade</option>
        <option>try Enterprise</option>
        <option>Feature preview</option>
        <option>Help</option>
        <option>Settings</option>
        <hr />
        <option>Sign out</option>
      </select>
    </div>
  </div>
</div>
